@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
*,
*::before,
*::after {
    box-sizing: border-box;
}
.dark {
    background-color: white !important;
    color: black !important;
}
